h1, h2{
    color: blue;
}

p{
    font-weight: bold;
}

body{
    background-color:  whitesmoke;
}

.borderlgao{
    border: 1px solid black;
}

img {
    transition:transform 0.25s ease;
}

img:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}